/* Container */
.signup-container {
  width: 420px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  background: white;
  border-radius: 25px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Header */
.signup-header .logo-box {
  font-size: 50px;
}

.logo-title {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}

.logo-subtitle {
  color: #777;
  margin-bottom: 20px;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  color: #777;
}

.tab.active {
  border-bottom: 2px solid #6a5acd;
  font-weight: bold;
  color: #6a5acd;
}

/* Title */
.signup-title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.signup-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Input Boxes */
.signup-input-box {
  background: #f3f3f3;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.signup-input-box input {
  border: none;
  width: 100%;
  background: transparent;
  outline: none;
  margin-left: 10px;
}

/* Button */
.signup-btn {
  width: 100%;
  padding: 14px;
  border: none;
  background: linear-gradient(to right, #7b2ff7, #4facfe);
  color: white;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}
